@page "/about"
<head>
    <title>COVID Blazor App - About Us</title>
</head>

<h1>About Us</h1>
<h4>Shepherd University - Class of Fall 2020</h4>
<br />


    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xs-6 p-3">
                <img src="https://avatars0.githubusercontent.com/u/6247892?s=460&u=6e7954ac537d1459f1adb198af56ad52fb1c3f6c&v=4" alt="Aaron Renner" width="240" height="240" style="padding-bottom:10px" />

                <p style="margin-bottom: 3px;">Aaron Renner - Senior</p>
                <p style="margin-bottom: 3px;"><b>Major:</b> Computer and Info Science</p>
                <p style="margin-bottom: 3px;"><b>Concentration:</b> Computer Science</p>
                <p style="margin-bottom: 0px;"><b>Email:</b> <a href="mailto:arenne01@rams.shepherd.edu">arenne01@rams.shepherd.edu</a></p>
            </div>
            <div class="col-xs-6 p-3">
                <img src="https://avatars2.githubusercontent.com/u/57372931?s=460&v=4" alt="Daniel Carson" width="240" height="240" style="padding-bottom:10px" />

                <p style="margin-bottom: 3px;">Daniel Carson - Senior</p>
                <p style="margin-bottom: 3px;"><b>Major:</b> Computer and Info Science</p>
                <p style="margin-bottom: 3px;"><b>Concentration:</b> Computer Science</p>
                <p style="margin-bottom: 0px;"><b>Email:</b> <a href="mailto:dcarso03@rams.shepherd.edu">dcarso03@rams.shepherd.edu</a></p>
            </div>
        </div>
    </div>

<br />

<ShepMap></ShepMap>

@code { //TODO Add code as needed
}
