@page "/about"
<head>
    <title>COVID Blazor App - About Us</title>
</head>

<h1>About Us</h1>
<h4>Shepherd University - Class of Fall 2020</h4>
<br />

<div style="width:100%; text-align:center">
    <div style="float:left; width:50%">
        <img src="https://avatars0.githubusercontent.com/u/6247892?s=460&u=6e7954ac537d1459f1adb198af56ad52fb1c3f6c&v=4" alt="Aaron Renner" width="240" height="240" style="padding-bottom:10px"/>

        <p>Aaron Renner - Senior</p>
        <p>Major: Computer and Information Science</p>
        <p>Concentration: Computer Science</p>
        <p>Email: <a href="mailto:arenne01@rams.shepherd.edu">arenne01@rams.shepherd.edu</a></p>

    </div>
    <div style="margin-left:50%">
        <img src="https://avatars2.githubusercontent.com/u/57372931?s=460&v=4" alt="Aaron Renner" width="240" height="240" style="padding-bottom:10px"/>

        <p>Daniel Carson - Senior</p>
        <p>Major: Computer and Information Science</p>
        <p>Concentration: Computer Science</p>
        <p>Email: <a href="mailto:dcarso03@rams.shepherd.edu">dcarso03@rams.shepherd.edu</a></p>
    </div>
</div>

<br />

<ShepMap></ShepMap>

@code { //TODO Add code as needed
}
