@page "/state-history"
@inherits StateHistoryBase

<h2><b>Historical State COVID Statistics</b></h2>

@if (states == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@stateForm" OnValidSubmit="UpdateParameters">
        <div class="form-group">
            <div class="form-group">
                <b><label for="stateCode">State</label></b><br />
                <InputSelect class="form-control-sm" id="stateCode" @bind-Value="@stateForm.StateCode">
                    @foreach (var state in stateMetaData)
                        {
                        @if (!state.state.Equals("AS") && !state.state.Equals("MP") && !state.state.Equals("VI"))
                            {
                            <option value="@state.state">@state.name</option>
                            }
                        }
                </InputSelect>
            </div>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
    </EditForm>
    <StateHistoryTable states="states">
    </StateHistoryTable>
    <br />
    <h4>
        <b>Authors: Daniel Carson &amp; Aaron Renner</b>
    </h4>
    <h4>
        <b>Data Source:</b> <a href="http://www.covidtracking.com">The COVID Tracking Project</a>
    </h4>
}