@page "/state-history"
@inherits StateHistoryBase

<h2><b>State Detail</b></h2>

@if (displayData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@stateForm" OnValidSubmit="UpdateParameters">
        <div class="form-group">
            <div class="form-group">
                <b><label for="stateCode">State</label></b><br />
                <InputSelect class="form-control-sm" id="stateCode" @bind-Value="@stateForm.StateCode">
                    @foreach (var state in stateMetaData)
                        {
                        @if (!state.state.Equals("AS") && !state.state.Equals("MP") && !state.state.Equals("VI"))
                            {
                            <option value="@state.state">@state.name</option>
                            }
                        }
                </InputSelect>
            </div>
            <div class="form-group">
                <b><label for="startDate">Start Date</label></b><br />
                <InputDate class="form-control-sm" id="startDate" @bind-Value="stateForm.StartDate" /><br />
            </div>
            <div class="form-group">
                <b><label for="startDate">Stop Date</label></b><br />
                <InputDate class="form-control-sm" id="startDate" @bind-Value="stateForm.StopDate" /><br />
            </div>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
    </EditForm>
    <StateHistoryTable states="displayData">
    </StateHistoryTable>
    <br />
    <p>
        <b>Authors:</b> Daniel Carson &amp; Aaron Renner<br />
        <b>Data Source:</b> <a href="http://www.covidtracking.com">The COVID Tracking Project</a>
    </p>    
}