@page "/states-current"
@inherits StatesCurrentBase 
<h2><b>States</b></h2>

@if (states == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <StateCurrentTable states="states">
    </StateCurrentTable>
    <br />
    <p>
        <b>Authors:</b> Daniel Carson &amp; Aaron Renner<br />
        <b>Data Source:</b> <a href="http://www.covidtracking.com">The COVID Tracking Project</a>
    </p>
}

