@page "/states-current"
@inherits StatesCurrentBase 
<h2><b>Current States COVID Statistics</b></h2>

@if (states == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <StateCurrentTable states="states">
    </StateCurrentTable>
    <br />
    <h4>
        <b>Authors: Daniel Carson &amp; Aaron Renner</b>
    </h4>
    <h4>
        <b>Data Source:</b> <a href="http://www.covidtracking.com">The COVID Tracking Project</a>
    </h4>
}

