@page "/us-history"
@inherits UnitedStatesHistoryBase

<h2><b>Historical US COVID Statistics</b></h2>

@if (usData == null)
{
    <p><em>Loading...</em></p>
}
else
{     
    <USHistoryTable US="usData"></USHistoryTable>
    <br />
    <h4>
        <b>Authors: Daniel Carson &amp; Aaron Renner</b>
    </h4>
    <h4>
        <b>Data Source:</b> <a href="http://www.covidtracking.com">The COVID Tracking Project</a>
    </h4>
}