@page "/us-history"
@inherits UnitedStatesHistoryBase

<h2><b>United States</b></h2>

@if (displayData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@usForm" OnValidSubmit="UpdateParameters">
        <div class="form-group">
            <div class="form-group">
                <b><label for="startDate">Start Date</label></b><br />
                <InputDate class="form-control-sm" id="startDate" @bind-Value="usForm.StartDate" /><br />
            </div>
            <div class="form-group">
                <b><label for="stopDate">Stop Date</label></b><br />
                <InputDate class="form-control-sm" id="stopDate" @bind-Value="usForm.StopDate" /><br />
            </div>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
    </EditForm>
    <USHistoryTable US="displayData"></USHistoryTable>
    <br />
    <p>
        <b>Authors:</b> Daniel Carson &amp; Aaron Renner<br />
        <b>Data Source:</b> <a href="http://www.covidtracking.com">The COVID Tracking Project</a>
    </p>
}