<!--
Author: Aaron Renner, Daniel Carson
Resources: Thanks https://www.maps.ie/create-google-map/ for API
CSS: Provided by default
-->
<div class="alert alert-secondary mt-4" role="alert">
    <div style="width: 100%">
        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=450&amp;hl=en&amp;q=301%20N%20King%20St,%20Shepherdstown+(Shepherd%20University)&amp;t=k&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
    </div>
</div>

@code { //TODO Add code as needed 
}
