<!--
Author: Aaron Renner, Daniel Carson
Resources: Thanks https://www.maps.ie/create-google-map/ for API
CSS: Provided by default
-->
<div class="alert alert-secondary mt-4" role="alert">
    <div style="width: 100%">
        <iframe src="https://ramsshepherd-my.sharepoint.com/personal/dcarso03_rams_shepherd_edu/_layouts/15/Doc.aspx?sourcedoc={1d2b45c8-7341-4fa3-992a-a861e5311044}&amp;action=embedview&amp;wdStartOn=1" width="100%" height="550px" frameborder="0">
            This is an embedded
            <a target="_blank" href="https://office.com">Microsoft Office</a>
            document, powered by
            <a target="_blank" href="https://office.com/webapps">Office</a>
        .</iframe>
    </div>
</div>

@code { //TODO Add code as needed 
}
