@page "/about"
<head>
    <title>COVID Blazor App - About Us</title>
</head>

<h1>About Us</h1>

<p>Aaron Renner &amp; Daniel Carson</p>
<p>Shepherd University 2021</p>
<ShepMap></ShepMap>

<h1>Contact Information</h1>
<p>Aaron Renner: dcarso03@rams.shepherd.edu</p>
<p>Daniel Carson: dcarso03@rams.shepherd.edu</p>


@code { //TODO Add code as needed 
}
